<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head>
<body>
     <h1>CHANGING THE DETAILS for id_number  <p><%=listing.id%></p> </h1><br>
    <div style="width: 450px;background-color: rgb(213, 210, 210); border:2px solid grey; display: flex; flex-wrap: wrap; justify-content: space-evenly; justify-self: center;">
        <form method="POST" action="/listings/<%=listing.id%>/edit?_method=PUT" method="put" >
            <div><input type="text" name="listing[price]" value="<%=listing.price%>" style="width: 188px; ">
           <input type="text" name="listing[title]" value="<%=listing.title%>" style="width: 200px; "> </div>
           <textarea name="listing[description]" type="text" cols="53" rows="3""><%=listing.description%></textarea>
            <div><input type="text" name="listing[imageUrl]" value="<%=listing.imageUrl%>" style="width: 400px; "></div>
           <div><input type="text" name="listing[country]" value="<%=listing.country%>" style="width: 188px; ">
            <input type="text" name="listing[location]" value="<%=listing.location%>" style="width: 200px; "></div>
        </div> <br>
            <button style="background-color: rgb(167, 78, 0); color: white;">EDIT</button>
        </form>
</body>
</html>