<% layout('/layouts/boilerplate') %>

<body>
     <h1>Edit the details -<i><%=listing.title%></i> </h1><br>
    <div class="row mb-5">
     <div  class="col-8 offset-2">
        <form method="POST" action="/listings/<%=listing.id%>?_method=PUT" method="put"  class="row g-4 needs-validation" novalidate>
          <div class="row">
            <div class="mb-3 col-md-8">
                <label for="title" class="form-control">  Title:</label>
           <input class="form-control" type="text" id="title" name="listing[title]" value="<%=listing.title%>" required> </div>
             <div class="mb-3 col-md-4">
                <label for="price" class="form-control">Price:</label>
             <input class="form-control" type="text" id="price" name="listing[price]" value="<%=listing.price%>" required></div>
          </div>
             <div class="mb-3"> 
             <label  for="textarea" class="form-control">Description:</label>
             <textarea  name="listing[description]" class="form-control" id="textarea" required><%=listing.description%></textarea></div>
            <div class="mb-3">
            <label for="imageUrl" class="form-control">Image URL:</label>
            <input type="text" class="form-control" name="listing[imageUrl]" value="<%=listing.imageUrl%>" id="imageUrl" required></div>
           <div class="row">
            <div class="mb-3 col-md-8">
            <label for="cntry" class="form-control">Country:</label>
           <input type="text" class="form-control" name="listing[country]" value="<%=listing.country%>" id="cntry" required></div>
           <div class="mb-3 col-md-4">
            <label for="loc" class="form-control">Location:</label>
           <input type="text" class="form-control" name="listing[location]" value="<%=listing.location%>" id="loc" required></div>
           </div>
           <br>
            <button class="btn btn-danger">EDIT</button>
        </form>
        </div>
    </div>
</body>
