<% layout('/layouts/boilerplate') %>

<body>
      

            <div class="row mb-5">
             <div class="col-8 offset-2">
               <h2><i><%= listing.title %></i></h2> 

                  <div class="card col-6">

               <img src="<%=listing.imageUrl %>" alt="image" class="card-img-top show-img">
                  </div>
               <br> <%= listing.description %>
<br>
                   <b>Price:</b>&#8377;<%= listing.price.toLocaleString('en-IN') %>
               <br> <b>Location:</b> <%= listing.location %>
               <br> <b>Country:</b> <%= listing.country %>
<br><br>
       <div class="d-flex gap-3">
              <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
               <button type="submit" class="btn btn-danger">DELETE</button>
           </form>
           <form action="/listings/<%=listing._id%>">
               <button class="btn btn-primary">UPDATE</button>
           </form>

       
       </div>
             </div>
  </div>
</body>
</html>