<% layout('/layouts/boilerplate') %>

<body>
      

            <div class="row mb-5">
             <div class="col-8 offset-2">
               <h2><i><%= listing.title %></i></h2> 

                  <div class="card col-6">

               <img src="<%=listing.imageUrl %>" alt="image" class="card-img-top show-img">
                  </div>
               <br> <%= listing.description %>
<br>
                   <b>Price:</b>&#8377;<%= listing.price.toLocaleString('en-IN') %>
               <br> <b>Location:</b> <%= listing.location %>
               <br> <b>Country:</b> <%= listing.country %>
<br><br>
       <div class="d-flex gap-3">
              <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
               <button type="submit" class="btn btn-danger">DELETE</button>
           </form>
           <form action="/listings/edit/<%=listing._id%>">
               <button class="btn btn-primary">UPDATE</button>
           </form>
         </div>
             </div>
             </div>
             <hr>
<div class="col-8 offset-2">
    <h4>Leave a review</h4>
    <form action="/listings/<%=listing._id%>/reviews" method="post" class="needs-validation" novalidate>
        <div>
           <label for="range2" class="form-label">Rating</label>
           <input type="range" class="form-range" min="1" max="5" id="range2" name="review[rating]" required>
        </div>
        <div>
            <label for="body"></label>
           <div>
            <textarea name="review[comment]" placeholder="Write your review here..." id="body" cols="30" rows="4" required></textarea>
              <div class="invalid-feedback">
                Please enter a review comment.
              </div>
        </div></div>
        <button class="btn btn-primary">Submit Review</button>
    </form>

    <br>

    <h3 >Reviews</h3>
   <div class="row">
        <% for(let rev of listing.reviews){ %>
         
         
         <div class="card col-5  ms-3 mb-3">
  <div class="card-text">
    <p><b> fake person </b></p>
    <p><%= rev.comment %> and 
     <%= rev.rating %>stars</p>
    <form action="/listings/<%=listing._id%>/reviews/<%=rev._id%>?_method=DELETE" method="post">
    <button class="btn btn-dark">DELETE</button>
    <br>
  </div>
 
</div>
       
        <% } %>
    </div>
</div>
</div>
</div>
</body>
